.App {
  text-align: center;
}

.centered-text{
  margin: auto;
}
h1{
  color: #fff;
}

body{
  background: rgb(89,32,106);
  background: linear-gradient(90deg, rgba(89,32,106,1) 0%, rgba(11,5,61,1) 0%, rgba(23,56,142,1) 100%); 
}

.rating svg{
  color: orange;
}


